body {
    background-color: #0A0A0A;
    color: #F1F5F9;
        font-family: sans-serif;

    text-align: center;
   
}



/* Trasforma la lista in un contenitore flessibile */
dl {
    display: grid;
    grid-template-columns: max-content 1fr;
    /* Colonna etichette stretta, colonna dati larga */
    gap: 10px 20px;
    /* Spazio di 10px tra le righe e 20px tra etichetta e dato */
    font-family: sans-serif;
    /* Un font più moderno */
    background-color: #C65D3B;
    /* Un leggero sfondo grigio per la scheda */

    padding: 20px;
    border-radius: 8px;
    max-width: 300px;
    /* Non fa allargare troppo la scheda */
}

/* Stile per le etichette (Nome, Cognome...) */
dt {
    font-weight: bold;
    color: #F1F5F9;
}

/* Stile per i dati (Zeltharian, Warden...) */
dd {
    margin: 0;
    /* Rimuove lo spostamento a destra brutto di default */
    color: #000000;
}

/* Regola dell'Opzione 1: aggiunge la linea sotto alla sezione */
.blocco-contenuto {
    border-bottom: 2px solid #ddd;
    /* Cambiato a 2px per renderlo più visibile */
    padding-bottom: 5px;
    /* Spazio tra il testo e la linea */
    margin-bottom: 2px;
    /* Spazio tra la linea e il blocco successivo */
}

.blocco-contenuto2 {
    border-bottom: 2px solid #ddd;
    /* Cambiato a 2px per renderlo più visibile */
    padding-bottom: 0px;
    /* Spazio tra il testo e la linea */
    margin-bottom: -10%;
    /* Spazio tra la linea e il blocco successivo */
}



header {
    text-align: center;
    color: goldenrod;
 background-image: url('https://inara.cz/data/gallery/273/273696x1688.jpg');
    background-position: center;
    background-repeat: no-repeat; /* Rimosso il punto finale errato */
    background-size: cover;       /* Cambiato da 100vh a cover per coprire tutto */
    background-attachment: fixed;
    
    /* Aggiungi queste due righe per assicurare la larghezza e dare spazio interno */
    width: 100%;                  
    padding: 0% 0.5%; 
}

h1 {
    font-size: 3rem;
}

.font-red {
    color: red;
}

.font-gold {
    color: goldenrod;
}

article {
    text-align: justify;
    padding: 10%;

}

.centrocentro {
    text-align: center;
}

p {
    line: height 1.8em;
}

footer {
    background-image: url('https://inara.cz/data/gallery/273/273696x1688.jpg');
    background-position: center;
    background-repeat: no-repeat; /* Rimosso il punto finale errato */
    background-size: cover;       /* Cambiato da 100vh a cover per coprire tutto */
    background-attachment: fixed;
    
    /* Aggiungi queste due righe per assicurare la larghezza e dare spazio interno */
    width: 100%;                  
    padding: 60px 20px;           
}